<%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>

<main class="w-full h-[93vh] min-h-96 bg-gray-900 flex flex-col-reverse lg:flex-row justify-center items-center">
  <section class="w-full lg:w-1/2 h-1/2 lg:h-full flex items-center lg:items-start flex-col justify-center gap-8 p-6 pl-12 pr-12 md:pl-16 md:pr-16 entry1">
    <h1 class="w-full text-white font-bold text-4xl text-center lg:text-left lg:text-7xl">SHORT URL</h1>
    <p class="text-white text-center lg:text-left font-light text-lg lg:text-2xl">World's best URL shortener.</p>
    <%= button_to "Start for free", root_path,
                  class: "btn_gradient1 font-semibold text-white p-2 pl-6 pr-6 rounded-xl cursor-pointer btn_hover"%>
  </section>

  <section class="w-full lg:w-1/2 h-2/5 lg:h-full flex flex-col justify-center items-center">
    <%= image_tag "home.png", alt: "Home Image", class: "w-full h-full p-4 object-contain" %>
  </section>
</main>