<nav class="w-full flex items-center gap-3 p-4 h-[6vh] min-h-12 bg-red-700">
  <%= link_to "Home", root_path, class: "text-white font-semibold text-lg" %>
  <%= link_to "Create URL", root_path, class: "text-white font-semibold text-lg" %>
  <%= link_to "Show URLs", root_path, class: "text-white font-semibold text-lg" %>
</nav>