<%= stylesheet_link_tag "nav", "data-turbo-track": "reload" %>
<nav class="w-full flex bg-gray-900 items-center justify-center md:justify-start gap-12 p-5 pl-12 pr-12 md:pl-16 md:pr-16 h-[7vh] min-h-12">
  <%= link_to "Home", root_path, class: "link text-white font-medium text-sm md:text-base relative" %>
  <%= link_to "Create URL", root_path, class: "link text-white font-medium text-sm md:text-base relative" %>
  <%= link_to "Show URLs", root_path, class: "link text-white font-medium text-sm md:text-base relative" %>
</nav>