<main class="bg-gray-900 w-full h-[93vh] flex flex-col gap-4 items-center">
  <table class="w-3/4 mt-12 md:w-[40rem] text-white border-solid border-2 border-white">
    <tr class="border-solid border-2 border-white">
      <th class="border-solid border-2 border-white p-2">Long URL</th>
      <th class="border-solid border-2 border-white p-2">Short URL</th>
      <th class="border-solid border-2 border-white p-2">Visits</th>
    </tr>
    <% @urls.each do |url| %>
      <tr class="border-solid border-2 border-white">
        <td class="border-solid border-2 border-white p-2"><%= url.long %></td>
        <td class="border-solid border-2 border-white p-2">
          <%= link_to url_show_one_url(url.short), url_show_one_url(url.short), class: "external_link"%>
        </td>
        <td class="border-solid border-2 border-white text-center p-2"><%= url.visits %></td>
      </tr>
    <% end %>
  </table>
</main>
